p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(104, 18, 2);  
     
                                              
}

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(2, 56, 31);
    
}

#clickerlogo{
    height: 75px;
    
}

.layout{
    display: flex;
    flex-direction: column;
      
}

#bloco1{
   padding-left: 20px; 
}

#dpsmark{
    
    font-size: 20px;
}


progress {
    display:block;
    -webkit-appearance: none;
    width: 80%;
    height: 30px;
}
progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 5px;
}
progress::-moz-progress-bar {  
    background: black;
    border-radius: 50px;
    padding: 2px;
}
progress::-webkit-progress-value {
    border-radius: 50px;
    background:rgb(223, 14, 14);
}

#body{
    display: flex;
    height: 800px;
    width: 1500px;
    margin-top: 3vh;
    border: 5px solid rgb(104, 18, 2);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);
    

}

#swords1{
    margin: 50px;
    padding-left: 10% ;   
    display: flex;
    width: 50%;
    height: 50%;
    font-size: 15px; 
}

#swords2{
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    font-size: 15px; 
}

body{
    
    background-image: url(./Images/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #292929;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cursorinfo

#full{
    max-width: 1920px;
    margin-right: 1080px;
}

#dpscount{
    color: rgb(5, 133, 15);
}

#count{
    color: rgb(5, 133, 15);
}

#diamonds_count{
    padding-bottom: 50px;
    padding-top: 2%;
    padding-left: 10px;
    font-size: 25px;  
   
    
}

#countDisplay{
    display: flex;
    flex-direction: row;
    padding-left: 275px;
    
    
    
}

#diamondimg{
    width: 50px;
    padding-top: 25%;
    padding-top: 25px;
}

.pricetext{
    color: rgb(104, 18, 2);
    font-size: 15px ;
}

#zombie{
   
    
    width: 250px;
    height: 250px;
    padding-top: 5%;
    object-fit: contain;
    padding-left: 10%;
    
}

#boss{
    font-size: 15px;
    
}

/*-------- Sword Buttons --------*/

.swords{
    width: 175px;
    height: 125px;
    font-size: 15px;
    border-radius: 10px;
    border-color: rgb(112, 59, 9);
    background-color: rgb(221, 231, 160);
    
    
}


#woodimg{
    width: 50px;
    object-fit: contain;
    padding-top: 25px;
}

#stoneimg{
    width: 50px;
    padding-top: 25px;
    object-fit: contain;
}

#ironimg{
    width: 50px;
    object-fit: contain;
    padding-top: 25px;
}


#goldimg{
    width: 50px;
    object-fit: contain;
    padding-top: 25px;
}


#sdiamondimg{
    width: 50px;
    object-fit: contain;
    padding-top: 25px;
}

#netheriteimg{
    width: 50px;
    object-fit: contain;
    padding-top: 25px;
}

/* Cursor Upgrades */

#wood_Cursor{
    width: 50px;
    object-fit: contain;
    margin-top: 5px; 
    
}

#stone_Cursor{
    width: 50px;
    object-fit: contain; 
    margin-top: 5px; 
}

#iron_Cursor{
    width: 50px;
    object-fit: contain;
    
}

#gold_Cursor{
    width: 50px;
    object-fit: contain;  
    margin-top: 5px; 
}

#diamond_Cursor{
    width: 50px;
    object-fit: contain;
    margin-top: 5px;  
}

#netherite_Cursor{
    width: 50px;
    object-fit: contain;  
    margin-top: 5px; 
}

.cursor{
    width: 120px;
    height: 100px;
    font-size: 15px;
    border-radius: 10px;
    border-color: rgb(112, 59, 9);
    background-color: rgb(221, 231, 160);
    margin-top: 10px;
    padding-top: 23px;
    display: flex;
}

#cursorButtons{
    display: flex;
    flex-direction: row;
}