p{
    font-family: 'Minecraft', sans-serif;                                               
}

span{
    font-family: 'Minecraft', sans-serif;
}

.enemy {
    margin: 25px;
    ;
}

.layout{
    display: flex;
    flex-direction: column;
      
}


#dpsmark{
    /* padding-left: 550px; */
    font-size: 35px;
}

#hpbar{
    width: 1000px;
    height: 100px;
    padding-left: 25px;
    
}

#body{
    display: flex;

}

#swords1{
 margin: 50px;
 padding-left: 25% ;
 padding-top: 2%;
 display: flex;
 
}

#swords2{
    margin: 50px;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
   }

body{
    background-color: rgb(165, 207, 130);
}



#diamonds_count{
    font-size: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 60px;
    
}

#countDisplay{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

#diamondimg{
    width: 100px;
    padding-top: 88px;
}

#zombie{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 350px;
    padding-left: 100px;
    margin-left: 150px;
    
}

#boss{
    font-size: 30px;
    padding-left: 450px;
}

/*-------- Sword Buttons --------*/

.swords{
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(112, 59, 9);
    background-color: rgb(221, 231, 160);
    margin-top: 10px;
    
}

#woodimg{
    width: 100px;
    padding-top: 25px;
}

#stoneimg{
    width: 100px;
    padding-top: 25px;
}

#ironimg{
    width: 100px;
    padding-top: 25px;
}


#goldimg{
    width: 100px;
    padding-top: 25px;
}


#sdiamondimg{
    width: 100px;
    padding-top: 25px;
}

#netheriteimg{
    width: 100px;
    padding-top: 25px;
}

/* Cursor Upgrades */

#wood_Cursor{
    width: 75px;  
}

#stone_Cursor{
    width: 75px;  
}

#iron_Cursor{
    width: 75px;  
}

#gold_Cursor{
    width: 75px;  
}

#diamond_Cursor{
    width: 75px;  
}

#netherite_Cursor{
    width: 75px;  
}

.cursor{
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(112, 59, 9);
    background-color: rgb(221, 231, 160);
    margin-top: 10px;
    padding-top: 25px;
    display: flex;
}

#cursorButtons{
    display: flex;
    justify-content: space-evenly;
}